.site-author-image {
  float: none;
  margin: 20px auto;
  max-width: 100px;
  border-radius: 50%;
}
.site-author-image::after {
  content: "abc",;
}
.site-author-name {
  text-align: center;
}
.links-of-author.motion-element {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
